@model AccentureProject.Models.Autores

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear nuevo Autor</title>
</head>
<body>
    <h1>Crear nuevo Autor</h1>
    <form method="post">
        Nombre de Autor:
        <input type="text" name="Nombre" value="" />
        <button>Cargar Autor</button>
    </form>
</body>
</html>
