@using AccentureProject.Models
@model List<Autores>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mostrar Autores</title>
</head>
<body>
    <div>
        <h1>Los autores disponibles son:</h1>
        <ul>
            @foreach (Autores autor in this.Model)
            {
                <li>
                    @autor.Nombre
                </li>
            }
        </ul>
    </div>
</body>
</html>
