@model AccentureProject.Models.Generos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear Género</title>
</head>
<body>
    <h1>Crear un nuevo Género</h1>
    <form method="post">
        Nombre de nuevo Génerol:
        <input type="text" name="NombreGenero" value="" />
        <button>Cargar Género</button>
    </form>
</body>
</html>
