@model AccentureProject.Models.Editoriales

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear Editorial</title>
</head>
<body>
    <h1>Crear una Editorial</h1>
    <form method="post">
        Nombre de Editorial:
        <input type="text" name="NombreEditorial" value="" />
        <button>Cargar Editorial</button>
    </form>
</body>
</html>
