@using AccentureProject.Models
@model List<Editoriales>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mostrar Editoriales</title>
</head>
<body>
    <div>
        <h1>Los editoriales son:</h1>
        <ul>
            @foreach (Editoriales editorial in this.Model)
            {
                <li>
                    @editorial.NombreEditorial
                </li>
            }

        </ul>
    </div>
</body>
</html>
