@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>¡Bienvenidos!</h1>
    <p class="lead">Somos la librería número 1 de Mar del Plata desde hace 35 años.</p>
    <p><img class="img-responsive img-thumbnail" src="https://pbs.twimg.com/media/Dsh83iXWsAEQNwQ.jpg" alt="Imagen de Portada"/></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Novedades</h2>
        <p>
            Descubrí nuestras últimas noticias y novedades respecto a tus autores favoritos.
            Tenemos lo último de lo último en cualquier categoría.
        </p>
        <p><a class="btn btn-default" href="novedades.html">Más Info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nuestras Sucursales</h2>
        <p>Nacimos en Mar del Plata pero no dejamos de crecer. Tenemos más de 18 sucursales
        en todo el país. Mirá nuestro mapa.</p>
        <p><a class="btn btn-default" href="sucursales.html">Buscar Sucursales &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trabajá con Nosotros</h2>
        <p>Siempre estamos buscando apasionados de la lectura que quieran compartir sus ganas
        de leer con otros. ¡Dejanos tus datos!</p>
        <p><a class="btn btn-default" href="cv.html">Animate &raquo;</a></p>
    </div>
</div>