@model AccentureProyectoIntegrador.Models.Editoriales
@{
    ViewBag.Title = "Crear Editorial";
}

<h1>Crear una Editorial</h1>
<form method="post">
    Nombre de Editorial:
    <input type="text" name="NombreEditorial" value="" />
    <button>Cargar Editorial</button>
</form>